:root {

    font-family: Arial, Helvetica, sans-serif;

}

p {

    font-size: 19px;

}

#header {

    display: flex;
    align-items: center;
    padding: 30px 3%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(227, 232, 237);
}

#title {

    font-size: 25px;
    font-weight: 10px;

}



#pageflex {

    display: flex;
    flex-direction: row;

}

#mainpage {


    display: flex;
    justify-content: center;
    padding: 2% 20%;
    gap: 500px;


}  

#picturewrapper {
 
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 80%;
    height: 80%;
    margin-top: 14px;
}

#buttonouter {

    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    

}

#figmabutton {

    padding: 10px 20px;

    border-style: none;
    background-color: green;
    
    margin-left: auto;
    border-radius: 20px;

}

#outerlink {
    margin-left: auto;
}

#figmabutton > *{

    color: white;
    font-size: large;

}

.stats {
    margin-top: 14px;
}
