#root {

    font-family: gitbook-content-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;

}

#header {

    padding: 30px 3%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(227, 232, 237);
}

#title {

    font-size: 25px;
    font-weight: 10px;

}



#pageflex {

    display: flex;
    flex-direction: row;

}

#mainpage {


    display: flex;
    justify-content: center;
    padding: 2% 20%;
    gap: 500px;


}  

#picturewrapper {
 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 80%;
    height: 80%;
}

h3 {

    margin-bottom: 50px;

}